@charset "utf-8";

.projetos{
    width: 100vw;
    background-color: #000;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #f25a70
}
.projetos h2{
    margin-bottom: 20px;
}
.img-projetos{
    display: flex;
    justify-content: center;
}
.img-projetos  img{
    width: 180px;
    box-shadow: 7px 7px #fff;
    margin: 40px;
}