@charset "utf-8";

/*---------------------SKILLS---------------------*/

.section-skills{
    border-top: 10px solid black;
    background-color: #F25A70;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #7C5E99;
}
.section-skills h2{
    margin-bottom: 80px;
}

.skills{
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-size: 25px;
    color: #ffff;
    justify-content: center;
}
.skills#javaprogess{
    margin-left: 35px;
}
.icon{
    height: 80px;
    margin-right: 20px;
}

progress{
    box-sizing: border-box;
    border: 4px solid #000;
    height: 35px;
}
::-webkit-progress-bar{
    background-color: #Fff;
}
::-webkit-progress-value{
    background-color: #7C5E99;
}

