/*Mobile*/

@media screen and (max-width:768px){

/*---------------------CABEÇALHO---------------------*/
.cabecalho{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 80px;
    background-color: #7C5E99;
    padding-left: 100px ;
    padding-right: 100px ;
}
.btn-navegacao span{
    width: 40vw ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-navegacao ul{
    display: none;
}
.btn-navegacao button{
    margin: 3.5px;
}
}