/*Mobile*/

@media screen and (max-width:768px){

/*---------------------CABEÇALHO---------------------*/
.cabecalho{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 80px;
    background-color: #7C5E99;
    padding-left: 100px ;
    padding-right: 100px ;
}
menu#itens{
    width: 390px;
    
}
.btn-navegacao span{
    width: 50%;
    margin-right: 30px;
    margin-left: 25px;
    display: flex;
    align-items: center;
    
}
.btn-navegacao ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-navegacao ul > li{
    margin-top: 25px;  
}
.btn-navegacao li > a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    font-family: "Fira Code", monospace;
    cursor: pointer;
}
menu{
    display: none;
}
.material-symbols-outlined{
    font-size: 55px;
    font-weight: 300;
}
.img-menu > img{
    display: none;
}
.btn-navegacao button{
    display: none;
}
/*---------------------BANER---------------------*/

.baner{
    padding-top: 190px;
    padding-bottom: 140px;
}
.title{
    width: 450px;
    height: 160px;
}
.title h1{
    font-size: 28px;
}
.title h2{
    font-size: 22px;
}

/*---------------------SKILLS---------------------*/
.section-skills{
    padding-top: 50px;
    padding-bottom: 50px;
}
.section-skills h2{
    margin-bottom: 50px;
}
.skills{
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-size: 20px;
    color: #ffff;
    justify-content: center;
}

/*---------------------PROJETOS---------------------*/
.projetos{
    padding-top: 50px;
    padding-bottom: 80px;
}
.projetos h2{
    margin-bottom: 40px;
}
.img-projetos  img{
    width: 110px;
    box-shadow: 7px 7px #fff;
    margin: 20px;
}

/*---------------------SOBRE---------------------*/
.sobre{
    padding-top: 50px;
    padding-bottom: 80px;
}
.fal-sobre{
    width: 89vw;
    font-size: 25px;
}

}
